@using CodeMechanic.Types
@using Htmx.TagHelpers
@using Hydro
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HydroOptionsPanel

@{
    var card_options = """{'foo': true, 'bar': false}""";

    var schedule_kinds = new string[] { "month", "day", "agenda", "year" };

    string save = "Save";
}


<section id="hydro_options" class="grid grid-rows-auto grid-col-3">

    <h1>Options</h1>


    <div>
        <div class="flex flex-col">
            <div>
                <strong x-text="index"></strong>
                <button x-on:click="index = index + 1">Add</button>
            </div>
            @* Initial Date: <strong>@Model.InitialDate</strong> *@
            <label for="">Pick a Date</label>
            <input asp-for="InitialDate" hydro-bind:input x-on:focus="$el.select()"/>

            <span x-text="date_value"></span>
            <pre x-text="next_event.title"></pre>
        </div>

        <button
            class="btn btn-primary"
            hydro-on:click="@(() => Model.Update(Param.JS("edits_enabled = !edits_enabled")))">
            Update content
        </button>

        @* Count: <strong>@Model.Count</strong> *@
        @* <button hydro-on:click="@(() => Model.Set(20))"> *@
        @*     Set to 20 *@
        @* </button> *@

        @* <button class="btn btn-primary" hydro-on:click="@(() => Model.Add())"> *@
        @*     Add Event *@
        @* </button> *@
    </div>


    <div x-if="false">

        <template
            x-cloak
            id="schedule_kind" x-cloak x-for="[key, value] of Object.entries(@card_options)">

            @* :class="{!value ?  'badge-ghost border-2 border-yellow-500':'border-2 border-yellow-500 badge-accent'}" *@
            <button
                x-on:click="card_options[key]=!value"
                class="btn btn-primary join-item shadow-md shadow-secondary-400/50"
                :class="{'border-2 border-secondary btn-ghost': !value, 'border-2    border-accent': value }">
                <label
                    x-text="key"
                    class="form-label badge badge-sm"
                    :asp-for='key'>
                </label>

                <input x-bind:name='key'
                       x-bind:value='value'
                       x-bind:checked="value"
                       type="checkbox"
                       :asp-for="key"
                       class="form-control toggle toggle-primary">
            </button>

        </template>
    </div>


    <div x-if="false">

        <template>

            <select class="select select-primary w-full max-w-xs">
                <option disabled selected>-- Schedule Type --</option>
                @foreach (var kind in @schedule_kinds)
                {
                    <option>@kind.ToCamelCase()</option>
                }
            </select>
        </template>

    </div>


    <div x-if="false">

        <template>

            <div class="card bg-base-200 w-80">
                <div class="card-body">
                    <input placeholder="Email" class="input input-bordered"/>
                    <label class="label cursor-pointer">
                        Accept terms of use zzz
                        <input type="checkbox" class="toggle"/>
                    </label>
                    <label class="label cursor-pointer">
                        Submit to newsletter zzz
                        <input type="checkbox" class="toggle"/>
                    </label>
                    <button
                        hx-get
                        hx-page="Index"
                        hx-page-handler="@save"
                        class="btn btn-neutral">
                        Save
                    </button>


                    <button
                        x-show="edits_enabled"
                        hx-get
                        hx-page="Index"
                        hx-page-handler="Edit"
                        class="btn btn-neutral">
                        Update
                    </button>
                    <label for="">edits on?</label>
                    <span x-text="edits_enabled"></span>

                </div>

            </div>
        </template>

    </div>

</section>