@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OrchardCore.Models
@model CalendarEvent

@{
    var calendar_event = Model;
    string[] statuses = CalendarEventStatus.
        GetAll<CalendarEventStatus>()
        .Select(x => x.Name)
        .ToArray();
}

@* resources: 
    https://alpinejs.dev/directives/on
    https://alpinejs.dev/essentials/events
 *@
<section
    x-data="{
                selected_status: 'Unknown',
                get target_id() {
                      if(current_tab.name === 'Calendar')
                          return '#calendar_container'
                      else if(current_tab.name === 'Event List')
                          return '#event_list'
                }
            }">

    <h1>@calendar_event.EditMode</h1>
    <pre x-text="current_tab.name">tab?</pre>
    <pre x-text="target_id">target?</pre>

    <form
        hx-post method="post"
        hx-swap="outerHTML"
        hx-controller="Admin"
        :hx-target="target_id"

        hx-action="OnPostCreateEvent">

        <input hidden type="text" asp-for="EditMode" value="@Model.EditMode">
        <input hidden type="text" asp-for="ViewName" :value="current_tab.name">

        <div class="mb-3">
            <label class="form-label" for="event_name">Event Name:</label>
            <input class="form-control" type="text" asp-for="event_name">
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="start_date"></label>
            <input type="datetime-local" class="form-control" asp-for="start_date">
            <div class="invalid-feedback">
                <span asp-validation-for="start_date"></span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="description"></label>
            <input type="text" class="form-control" asp-for="description">
            <div class="invalid-feedback">
                <span asp-validation-for="description"></span>
            </div>
        </div>

        <pre x-text="selected_status"></pre>


        <div>
            <select x-model="selected_status">
                <template x-for="status in @statuses.AsJS()" :key="status">
                    <option :value="status" x-text="status"></option>
                </template>
            </select>

        </div>
        @* <select class="select select-secondary w-full max-w-xs"> *@


        @* <option disabled selected>-- Choose Status --</option> *@
        @* $1$ x-model='selected_status' #1# *@
        @* <template x-for="status in @statuses.AsJS()"> *@
        @*     <option :value='status' :selected='selected_status===status' x-text="status"></option> *@
        @* </template> *@

        @* @foreach (var status in CalendarEventStatus.GetAll<CalendarEventStatus>()) *@
        @* { *@
        @*         $1$ onclick="@Model.status=@status.Name" #1# *@
        @*     <option *@
        @*         asp-for="@Model.status" *@
        @*         @@click="selected_status='@status.Name'"> *@
        @*         @status.Name *@
        @*     </option> *@
        @* } *@
        @* </select> *@

        <button
            submit.prevent="console.log('submitted')"
            class="btn btn-primary"
            type="submit">
            Submit
        </button>

    </form>

</section>